*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

.background-container{
    background-image: url("./images/banner.jpg");
    filter: blur(5px);
    height: 100vh;
    position: relative;
}

.pink-overlay{
    background-color: rgba(104, 3, 20, 0.204);
    height: 100%;
    width: 100%;
}

.content-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
}

nav{
    height: 20vh;
}

.upper-nav-section{
    display: flex;
    height: 50%;
}

.upper-nav-left{
    width: 50%;
}

.upper-nav-right{
    width: 50%;
}

.BingeNestLogo{
    width: 35%;
}

.nav-button-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.lang-button{
    display: flex;
    padding: .4rem .8rem;
    border-radius: 50px;
    background: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
    font-size: 1rem;
}

.signin-button{
    background-color: #fff;
    padding: .4rem .8rem;
    border-radius: 50px;
    outline: none;
    border: none;
    margin-left: 10px;
    font-size: 1rem;
}

.lang-button p{
    margin-left: 5px;
}

.lower-nav-section{
    height: 50%;
    color: white;
    display: flex;
    justify-content: center;
}

.menu-list{
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
    background: rgba(0,0,0,.7);
    box-shadow: 2px 3px 14px rgba(0, 0, 0, .5);
    backdrop-filter: blur(7px);
    height: 7vh;
}

.menu-list li{
    height: 100%;
    display: flex;
    align-items: center;
}

.banner-section{
    position: relative;
    border: 2px solid purple;
    height: 90vh;
    background-image: url(./images/banner.jpg);
    border-radius: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.overlay{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3),  black);
    border-radius: 20px;
}

.banner-container{
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}

.banner-container h2{
    font-size: 4rem;
    width: 50%;
    text-align: center;
    text-shadow: 3px 3px 5px rgb(175, 0, 228);
}

.banner-container h4{
    font-size: 1.5rem;
    margin: 20px;
    text-shadow: 3px 3px 5px rgb(115, 2, 2);

}

.banner-container p{
    font-size: 1rem;
    margin: 20px;
    text-shadow: 3px 3px 5px rgb(2, 115, 36);
}

.input-container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.email-input-box{
    padding: 1rem 2rem;
    border-radius: 50px;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    width: 60%;
    color: white;
    font-size: 1rem;
}

.email-input-box::placeholder{
    color: white;
}

.get-started-button{
    width: 30%;
    background-color: rgb(83, 1, 117);
    border: none;
    outline: none;
    border-radius: 50px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
}